body {
  background: #2b2d31;
  font-family: Arial;
  color: #fff;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

input, textarea, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

textarea {
  resize: vertical;
}

button {
  background: #5865F2;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
